@import "../../assets/css/variables";

page {
	padding-top: 200rpx;
}

.btn {
	width: 500rpx;
	height: 80rpx;
	line-height: 80rpx;
	border-radius: 8rpx;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	background: $mainColor;
	margin: 30rpx auto;
	transition: background-color 0.3s;

	&.hover {
		background: $mainColorActive;
	}
}
