@import "../../assets/css/variables";

.test111 {
	background: red;
}
.test222 {
	background: green;
}
.item-wrap {
	position: relative;
	.item {
		position: absolute;
		z-index: 1;
		&.tran {
			transition: transform 0.3s !important;
		}
		&.cur {
			z-index: 2;
		}
		&.fixed {
			z-index: 0 !important;
		}
	}
}
