@import "../../assets/css/variables";

.item-wrap {
	position: relative;
	.item {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		&.tran {
			transition: transform 0.3s !important;
		}
		&.cur {
			z-index: 2;
		}
		&.fixed {
			z-index: 0 !important;
		}
	}
}
