@import "../../assets/css/variables";

.item-wrap {
	position: relative;
	.item {
		position: absolute;
		width: 100%;
		z-index: 1;
		&.itemTransition {
			transition: transform 0.3s;
		}
		&.zIndex {
			z-index: 2;
		}
		&.cur {
			background: #c6c6c6;
			transition: initial;
		}
	}
}

.info {
	position: relative;
	padding-top: 100%;
	background: #ffffff;
	& > view {
		position: absolute;
		border: 1rpx solid $lineColor;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 10rpx;
		box-sizing: border-box;
		image {
			width: 100%;
			height: 100%;
		}
	}
}

.indicator {
	position: fixed;
	z-index: 99999;
	right: 0rpx;
	top: 50%;
	margin-top: -250rpx;
	padding: 20rpx;
	& > view {
		width: 36rpx;
		height: 500rpx;
		background: #ffffff;
		border-radius: 30rpx;
		box-shadow: 0 0 10rpx -4rpx rgba(0, 0, 0, 0.5);
		color: $mainColor;
		padding-top: 90rpx;
		box-sizing: border-box;
		font-size: 24rpx;
		text-align: center;
		opacity: 0.8;
	}
}
