@import "../../assets/css/variables.scss";

$top-height: 90rpx;

.title {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 99;
    line-height: 90rpx;
    text-align: center;
    font-weight: bold;
    box-shadow: $shadow;
}

.cells {
    background: #ffffff;
    margin-top: 20rpx;
}

.cell {
    display: flex;
    padding: 30rpx;
    &:not(:last-child) {
        border-bottom: 1px solid $lineColor;
    }
    &__hd {
        font-size: 0;
        image {
            width: 200rpx;
            height: 200rpx;
            border-radius: 4rpx;
            margin-right: 30rpx;
        }
    }
    &__bd {
        flex: 1;
        .name {
            @include line(2);
            margin-bottom: 32rpx;
            font-size: 32rpx;
        }
        .des {
            @include line(2);
            color: $mainBlack2;
        }
    }
}

.control-panel {
    border-top: 1rpx solid $lineColor;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12213;
    background: #ffffff;
    padding: 20rpx;
    box-sizing: border-box;
    &.isX {
        padding-bottom: 60rpx;
    }
}

.panel-item {
    display: flex;
    align-items: center;
    &_hd {

    }
    &__bd {
        flex: 1;
    }
}