@import "../../assets/css/variables";

.view-wrap {
	width: 100vw;
	overflow: hidden;
}

scroll-view {
	width: calc(100vw + 20rpx);
	height: 100vh;
}

.block-wrap {
	position: relative;
	width: 100%;
	padding-right: 20rpx;
	box-sizing: border-box;
}

.sticky-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: $mainBd;
	font-weight: bold;
	padding: 10rpx 20rpx;
	z-index: 1;
}

.indicator {
	position: fixed;
	right: 120rpx;
	width: 100rpx;
	height: 100rpx;
	border-radius: 10rpx;
	text-align: center;
	line-height: 100rpx;
	color: #ffffff;
	font-size: 60rpx;
	font-weight: bold;
	display: none;
	z-index: 3;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 100% 0% 100% 100%;
		background: rgba(0,0,0,0.3);
		transform: rotate(45deg);
	}
	&--show {
		display: block;
	}
	&--tran {
		display: block;
		opacity: 0;
		transition: opacity 0.3s linear;
	}
}

.tree {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 3;
	&__item {
		font-size: 20rpx;
		padding: 0rpx 8rpx;
		color: $mainBlack2;
		font-weight: bold;
		& > view {
			width: 32rpx;
			height: 32rpx;
			border-radius: 50%;
			line-height: 32rpx;
		}
		&--cur {
			& > view {
				background: $mainColor;
				color: #FFFFFF;
				border-radius: 50%;
			}
		}
	}
}

.block {
	&__title {
		height: 60rpx;
		line-height: 60rpx;
		position: sticky;
		top: 0;
		z-index: 2;
		background: #ffffff;
		font-size: 24rpx;
		font-weight: bold;
		color: #767676;
		& > view {
			border-top: 1rpx solid $lineColor;
			border-bottom: 1rpx solid $lineColor;
			padding: 0 20rpx;
			background: #ededed;
		}
		&--cur {
			color: $mainColor;
			& > view {
				background: #ffffff;
			}
		}
	}
	&__item {
		&:not(:last-child) {
			border-bottom: 1rpx solid $lineColor;
		}
		background: #ffffff;
		padding: 30rpx 20rpx;
	}
}

