@import "../../assets/css/variables";

.view-wrap {
	width: 100vw;
	overflow: hidden;
	position: relative;
	&__empty {
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 30rpx;
		text-align: center;
	}

	.empty-image {
		width: 200rpx;
		height: 200rpx;
		margin: 160rpx auto 60rpx;
	}

	.empty-text {
		color: #999999;
	}
}

.scroll-view {
	width: calc(100vw + 20rpx);
}

.block-wrap {
	position: relative;
	width: 100%;
	padding-right: 20rpx;
	box-sizing: border-box;
}

.block {
	&__title {
		height: 60rpx;
		line-height: 60rpx;
		position: sticky;
		top: 0;
		z-index: 2;
		background: #ffffff;
		font-size: 24rpx;
		font-weight: bold;
		color: #767676;
		& > .title-item {
			border-top: 1rpx solid $line-color;
			border-bottom: 1rpx solid $line-color;
			padding: 0 20rpx;
			background: #ededed;
		}
		&--cur {
			color: $theme-color;
			& > .title-item {
				background: #ffffff;
			}
		}
	}
	&__item {
		&:not(:last-child) {
			border-bottom: 1rpx solid $line-color;
		}
		background: #ffffff;
		padding: 30rpx 20rpx;
	}
}

.item {
	display: flex;
	align-items: center;
	&__hd {
		width: 80rpx;
		height: 80rpx;
		border-radius: 50%;
		font-weight: bold;
		line-height: 80rpx;
		text-align: center;
		margin-right: 20rpx;
		color: #ffffff;
	}
	&__bd {

	}
}

.info {
	&__name {
		margin-bottom: 10rpx;
	}
	&__title {
		color: $black3;
	}
}

.indicator {
	position: fixed;
	right: 140rpx;
	width: 100rpx;
	height: 100rpx;
	border-radius: 10rpx;
	text-align: center;
	line-height: 100rpx;
	color: #ffffff;
	font-size: 60rpx;
	font-weight: bold;
	display: none;
	z-index: 3;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 100% 0% 100% 100%;
		background: rgba(0,0,0,0.3);
		transform: rotate(45deg);
	}
	&--show {
		display: block;
	}
	&--tran {
		display: block;
		opacity: 0;
		transition: opacity 0.3s linear;
	}
}

.tree {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 3;
	&__item {
		font-size: 20rpx;
		padding: 0rpx 8rpx;
		color: $black2;
		font-weight: bold;
		& > .key {
			width: 32rpx;
			height: 32rpx;
			border-radius: 50%;
			line-height: 32rpx;
		}
		&--cur {
			& > .key {
				background: $theme-color;
				color: #FFFFFF;
				border-radius: 50%;
			}
		}
	}
}
