@import "../../assets/css/variables";

page {
	padding-top: 110rpx;
	overflow: hidden;
}

.dragWrap {
	position: relative;
	z-index: 11;
}

.empty-bottom {
	padding-bottom: 300rpx;
	&.isX {
		padding-bottom: 380rpx;
	}
}
.line {
	background: $theme-color;
}
.tip {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20rpx;
	font-size: 24rpx;
	color: $black3;
	z-index: 999;
	background: #FFFFFF;
	box-sizing: border-box;
	border-bottom: 1rpx solid $line-color;
}

.control-panel {
	border-top: 1rpx solid $line-color;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 111;
	background: #ffffff;
	padding: 20rpx;
	box-sizing: border-box;

	&.isX {
		padding-bottom: 80rpx;
	}
}

.panel-item {
	display: flex;
	align-items: center;

	&_hd {

	}

	&__bd {
		flex: 1;
	}
}

.circle-wrap {
	display: inline-block;
	text-align: center;
	padding: 20rpx 8rpx;
	.circle {
		width: 50rpx;
		height: 50rpx;
		border: 2rpx solid $line-color;
		border-radius: 50%;
	}
	.cur {
		color: #fff;
		line-height: 50rpx;
		background: $theme-color;
		border: 2rpx solid $theme-color;
	}
}

.plus-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.plus {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 60rpx;
		margin-top: -30rpx;
		margin-left: -2rpx;
		border-left: 4rpx solid #cccccc;
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 60rpx;
		margin-left: -30rpx;
		margin-top: -2rpx;
		border-top: 4rpx solid #cccccc;
	}
}

.radio {
	overflow-x: auto;
	white-space: nowrap;
}

.extra {
	background: #cccccc;
	color: $theme-color;
	font-size: 24rpx;
	padding: 10rpx;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;

}

.test1 {
	overflow: hidden;
	border: 1px solid red;
	height: 100rpx;
}
.test2 {
	width: 100%;
	position: absolute;
	background: yellow;
	height: 200rpx;
}
